/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&family=Source+Serif+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  height: 100%;
  width: 100%;
  background-color: hsla(8.28,67.44%,91.57%,1);
}

h1 {
    font-family: 'EB Garamond', serif;
    padding: 0% 10%;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.3rem;
    padding: 10%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
}

input {
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
    margin-right: -4rem;
}

input::file-selector-button {
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

textarea::-webkit-scrollbar {
  width: 0.25em;
}
 
textarea::-webkit-scrollbar-thumb {
  background-color: #ededed;
  outline: 1px solid #ffffff;
  border-radius: 10px;
}

textarea, #document_body {
    font-family: 'EB Garamond', serif;
    display: block;
    width: 75%;
    background: none;
    margin-right: auto;
    resize: none;
    border: none;
}

div#document {
    margin-left: 15%;
    margin-right: 15%;
}

textarea:focus {
    outline: none !important;
}

textarea#document_title {
    margin-top: 5%;
    font-size: 1.75rem;
    color: red;
}

div#document_body {
    font-size: 1.25rem;
    min-height: 55vh;
    border: 1px solid #eee;
}

div#document_body:focus {
    outline: none !important;
    border: none;
}

footer {
    background-color: black;
    color: white;
    height: 5vh;
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
    padding-right: 25px;
    font-family: 'EB Garamond', serif;
    overflow-y: hidden;
}

table {
    float: right;
}

th {
    padding-right: 30px;
    font-weight: normal;
}

/* Quill */

#editor {
    height: 80vh;
}

.ql-editor {
    padding: 0px 0px !important
}

.ql-editor::-webkit-scrollbar {
    width: 0.15em;
  }
   
.ql-editor::-webkit-scrollbar-thumb {
    background-color: #a7a7a772;
    border-radius: 10px;
  }

/* Mobile Views */
@media (max-width: 768px) {

    body {
        /* overflow: hidden; */
        position: fixed;
        width: 100%;
    }

    footer {
        visibility: hidden;
    }

    div#document {
        margin-left: 1%;
        margin-right: 1%;
    }

    #editor {
        height: 75vh;
        width: 95vw;
    }


}